@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--ff-body);
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 0.1em;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
@supports (scrollbar-color: green, pink) {
  * {
    scrollbar-color: green, pink;
  }
}

.rain {
  background-image: url('/images/financeSurvey/rain/dollars-1.png'), url('/images/financeSurvey/rain/dollars-2.png'), url('/images/financeSurvey/rain/dollars-3.png');
  z-index: 1;
  animation: snow 13s linear infinite;
  transition: opacity 0.4s ease;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 400px, -200px 300px;
  }

  100% {
    background-position: 500px 1000px, 200px 800px, -200px 600px;
  }
}
